.mainFooter{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    padding: 20px 20px 0px 20px;
    background: rgb(6,48,179);
    background: linear-gradient(0deg, rgba(6,48,179,1) 0%, rgba(38,128,251,1) 100%);
    color: #edf2f7;
}
.footerDiv{
    width: 90%;
    height: auto;
    /* border: 1px solid grey; */
    margin: auto;
}
.footerTop{
    border-bottom: 2px solid #edf2f7;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 60px 10px;
}
.footerFirst{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid black; */
    margin-left: -70px;
    gap: 10px;
    
}
.footerFirst>p{
    margin-left: 40px;
    font-size: 17px;
}
.footerFirst>img{
    width: 70%;
    /* border: 1px solid black; */
}
.footerSecond{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
.footerSecond>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerSecond>ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footerThird{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
.footerThird>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerThird>ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footerFourth{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    width: 20%;
}
.socialIcons{
    display: flex;
    gap: 10px;
}
.socialIcons>svg:hover{
    color: black;
    cursor: pointer;
    transition: 0.4s;
}
.footerBottom{
    text-align: center;
    padding: 30px;
    /* border: 1px solid black; */
}

@media screen and (max-width:1040px) {
    .footerFirst{
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }
    .footerFirst>p{
        margin-left: -10px;
    }
    .footerTop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerSecond{
        width: 100%;
    }
    .footerThird{
        /* border: 1px solid black; */
        width: 100%;
    }
    .footerFourth{
        width: 100%;
    }
    .footerBottom{
        font-size: 10px;
    }
}